<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Atualizar liga</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/ligas" class="btn btn-secondary btn-sm">Voltar à lista de ligas</a>
    </div>
  </div>
  <br />
  <form [formGroup] = "editForm" (ngSubmit)="onSubmit(editForm)">
    <input formControlName="id"
           id="leagueId"
           type="hidden" />
    <div class="form-group">
      <label for="name">Nome:</label>
      <input formControlName="name"
             id="name"
             type="text"
             class="form-control" />
    </div>
    <div class="form-group">
      <label for="country">Pais:</label>
      <input formControlName="country"
             id="country"
             type="text"
             class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!editForm.valid">Atualizar liga</button>
  </form>
</div>
