@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/EstPay.png" />
</div>

@section Footer {
    <div class="text-center">
        <h1>Address: EST Setúbal - Estefanilha - Phone: 265 790 000 </h1>
    </div>
}