@{
    // Nivel 1
    ViewData["Title"] = "MiniESTS";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à MiniESTS</h1>
    <p>A plataforma perfeita para as suas compras de conveniência</a>.</p>
</div>
