<div class="container">
  <br />
  <h3>Detalhes da Liga</h3>
  <br />
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4>{{ league.name }}</h4>
        </div>
        <div class="col text-right">
          <a href="#" routerLink="/ligas" class="btn btn-secondary btn-sm">Voltar à lista das ligas</a>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Id: </b> {{league.leagueId}} </li>
      <li class="list-group-item"><b>Nome: </b> {{league.name}} </li>
      <li class="list-group-item"><b>Pais: </b> {{league.country}} </li>
    </ul>
  </div>
</div>
