@model ESTeSoccerMVC.Models.Team

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeagueId" class="control-label"></label>
                <select asp-for="LeagueId" class ="form-control" asp-items="ViewBag.LeagueId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initials" class="control-label"></label>
                <input asp-for="Initials" class="form-control" />
                <span asp-validation-for="Initials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundingDate" class="control-label"></label>
                <input asp-for="FoundingDate" class="form-control" />
                <span asp-validation-for="FoundingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfTitles" class="control-label"></label>
                <input asp-for="NumberOfTitles" class="form-control" />
                <span asp-validation-for="NumberOfTitles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainColor" class="control-label"></label>
                <input asp-for="MainColor" class="form-control" />
                <span asp-validation-for="MainColor" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
